<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/css/normalize.css" />
<title>Document</title>
</head>
<body>
<% if (err) { %>
	<h1><%= err %></h1>
<% } else { %>
	<h1><%= streamer %></h1>
	<strong style="font-size: 1.2rem;">aaaのページです</strong>
<% } %>
</body>
</html>